/.idea
/.project
/.pydevproject
/.settings
/FindInFiles.sh
/build
/nohup.out
/temp
chromedriver_service_output.log
*.pyc
*.swp
*.swo
.ropeproject/
*~
/*.iml
/tfs_workspace
.rnd
.coverage
nosetests.html
.pytest_cache
